body {
  margin: 60px auto;
  width: 70%;
}
nav ul, footer ul {
  padding: 0;
  list-style: none;
  font-weight: bold;
}
nav ul li, footer ul li {
  display: inline;
  margin-right: 20px;
}
ul {
   text-align: center;
 }
a {
  text-decoration: none;
  color: #999;
}
a:hover {
  text-decoration: underline;
}
* {
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
  color: #333;
}
footer {
  border-top: 1px solid #d5d5d5;
  font-size: .8em;
}
ul.posts {
  margin: 20px auto 40px;
  font-size: 1.5em;
}
ul.posts li {
  list-style: none;
}
.left-column {
  text-align:right;
}
#me {
   width:320px;
   height:239px;
   display:block;
   margin-left:auto;
   margin-right:auto;
}
#gameCanvas {
/*  width: 1280px; height: 630px;*/
  position:fixed;
  top: 0;
  left: 0;
  z-index:-1;
}
