<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/CV/">CV</a></li>
    </ul>
    </nav>
    <div class="container">

      {{ content }}

    </div><!-- /.container -->
    <footer>
    <ul>
      <li><a href="mailto:vinnyoodles@gmail.com">Email</a></li>
      <li><a href="https://github.com/vinnyoodles">Github</a></li>
      <li><a href="https://www.linkedin.com/pub/vincent-le/b1/424/a9b">Linkedin</a></li>
      <li><a href="https://instagram.com/vinnyoodles">Instagram</a></li>
      <li><a href="https://facebook.com/vinnyoodles">Facebook</a></li>
    </ul>
    </footer>
  </body>
  {% include analytics.html %}  
</html>
